* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

nav > ul {
    margin: 25px;
    list-style-type: none;
}

#top-link {
    color: black;
    text-decoration: none;
    font-size: 1.3em;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;

    h1 {
        font-size: 3em;
    }
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .who-am-i {
        text-align: center;
    }
}