* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

nav > ul {
    margin: 25px;
    list-style-type: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}